#mapwrapper {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 0;
  background-color: transparent;
  min-width: 220px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
#visnames {
  font-size: 16px;
}
#mapbase svg {
  max-height: 100%;
  width: 100%;
  margin: 0;
  -webkit-filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.2) ); 
    filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.2) );
}
#tryjstip {
  font: 14px/16px Trebuchet MS, Helvetica, Arial, sans-serif;
  display: none;
  max-width: 40%;
  padding: 5px;
  border: 1px solid #404040;
  color: #404040;
  z-index: 1000;
  float: left;
  position: absolute;
  background: rgba(265, 265, 265, 0.9);
  word-break: keep-all;
  box-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
}
#tryjstip p {
  margin: 0!important;
  color: #404040!important;
}
#tryjstip img {
  float: left;
  padding: 3px;
  max-width: 100%;
}
@media screen and (max-width: 320px){
  #mapbase svg {
    height:270px;
  }
}
@media screen and (max-width: 400px) and (min-width: 321px) {
  #mapbase svg {
    height:320px;
  }
}
@media screen and (max-width: 480px) and (min-width: 401px) {
  #mapbase svg {
    height:400px;
  }
}
@media screen and (max-width: 568px) and (min-width: 481px) {
  #mapbase svg {
    height:480px;
  }
}
@media screen and (max-width: 685px) and (min-width: 569px) {
  #mapbase svg {
    height:550px;
  }
}
@media screen and (max-width: 767px) and (min-width: 686px) {
  #mapbase svg {
    height:560px;
  }
}
@media screen and (min-width: 768px) {
  #mapbase svg {
    height:590px;
  }
}
/* THIS IS TO HIDE AN AREA IF NEEDED
#tryjs2, #tryjsvn2 {
  display: none;
}*/

/* Modal for state details */
.state-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}
.state-modal-content {
  background: #fff;
  width: 90%;
  max-width: 900px;
  max-height: 85%;
  overflow-y: auto;
  border-radius: 6px;
  padding: 18px 22px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}
.state-modal-close {
  float: right;
  background: transparent;
  border: 0;
  font-size: 26px;
  line-height: 1;
  cursor: pointer;
}
.stateModalSections h3 { margin-top: 12px; margin-bottom:6px }
.stateModalSections ul { padding-left: 20px; margin-top: 0 }
.stateModalSections #stateOverview { margin-bottom: 8px; }
.stateModalSections #stateKeyStats li strong{ display:inline-block; width:110px; }
.stateModalSections #stateKeyStats { padding-left: 0; list-style: none; margin-top: 6px; }
@media (max-width: 480px) {
  .state-modal-content { padding: 14px; }
}
